* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: bold;
  font-style: normal;
}

.popup__hidden {
  display: none;
  justify-content: center;
  align-items: center;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: auto;

  z-index: 999;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

.popup-container {
  position: relative;
  max-width: 390px;
  width: 95%;
  padding: 54px 30px;
  margin: auto;

  background-color: #ffffff;
}

.popup-title {
  font-size: 20px;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  text-align: center;

  color: #0f0d0e;
}

.popup-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 27px;

  background-color: #e1d9bd;
}

.form-row {
  margin-bottom: 27px;
}

.select-group {
  display: block;
}

.form-label {
  display: block;
  margin-bottom: 8px;

  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 100%;
  height: 48px;
  padding-left: 18px;
  padding-right: 14px;

  border: none;

  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
  color: #919292;

  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-size: 8px auto;
  background-position: right 14px center;

  background-color: #f4f7f6;
}

.select:focus {
  outline: 1px solid #b59f5b;
}

.radio-group {
  display: inline-block;
  margin-right: 10px;
}

.radio {
  display: none;
}

.radio-group-text {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;

  width: 18px;
  height: 18px;
  margin-right: 4px;

  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
}

.radio:checked ~ .radio-group-text::before {
  background-image: url(../svg/form-circle.svg);
}

.field-textarea {
  resize: none;
  display: block;
  min-width: 100%;
  max-width: 100%;
  min-height: 130px;
  max-height: 130px;
  padding: 20px;
  border: none;

  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;

  background-color: #f4f7f6;
}

.field-textarea:focus {
  outline: 1px solid #b59f5b;
}

.button-form {
  width: 100%;
  height: 48px;
  border: none;

  font-size: 14px;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #b59f5b;
  cursor: pointer;
}

.button-form:focus {
  outline: 1px solid #e1d9bd;
}

.popup-close {
  position: absolute;
  width: 19px;
  height: 19px;
  right: 0;
  top: -27px;
  border: none;

  background-color: transparent;
  background-image: url(../svg/form-x.svg);
}

.header {
  width: 100%;
  padding-top: 28px;
  text-align: center;
  text-transform: uppercase;

  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  box-sizing: border-box;
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 1;

  margin: auto;
  max-width: 1200px;
}

.logo {
  width: 180px;
}

.menu-button {
  display: none;
  border: none;
  padding-right: 34px;
  cursor: pointer;
}

.bar1::after {
  content: "";
  
  position: absolute;
  width: 24px;
  height: 3px;
    
  background-color: #ffffff;
}

.bar2::after {
  content: "";
  position: absolute;
  
  width: 24px;
  height: 3px;
  margin-top: 8px;
  
  background-color: #ffffff;
}

.bar3::after {
  content: "";
  
  position: absolute;
  width: 24px;
  height: 3px;
  margin-top: 16px;
  
  background-color: #ffffff;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list-item {
  padding-top: 17px;
  padding-left: 35px;
}

.menu-link {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 81.25%;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.menu-link:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

.header-title {
  font-family: "OpenSans-Bold", sans-serif;
  width: 679px;
  padding-top: 126px;
  margin-right: auto;
  padding-bottom: 146px;
  margin-left: auto;

  justify-content: center;
  font-size: 285.72%;
  color: #ffffff;

  position: relative;
  z-index: 1;
}

.now-in-trends {
  margin-top: 62px;
}

.trends-title {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 127%;
  color: #0f0d0e;
  text-transform: uppercase;

  text-align: center;
}

.trends-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;

  background-color: #e1d9bd;
}

.trends-posts {
  display: flex;
  margin-top: 27px;
  justify-content: space-between;
  min-height: 319px;
}

.trends-post-section {
  display: flex;
  max-height: 100%;

  position: relative;
  width: calc(25% - 3px);
}

.trends-post-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #000000;
  opacity: 0.6;
}

.now-trend-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.trend-post-info {
  position: relative;
  z-index: 2;
  border: 3px solid #b59f5b;
  margin: 15px 20px;
  padding: 38px 33px 32px;

  width: 100%;
  align-self: flex-end;
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.link-trend-tag {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  color: #b59f5b;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 19px;
}

.link-trend-tag:hover {
  color: #b59f5b;
  border-bottom: 2px solid #b59f5b;
}

.now-trend-text {
  margin-top: 8px;
}

.link-post-title {
  font-size: 20px;
  font-family: "OpenSans-Bold", sans-serif;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;
}

.link-post-title:hover {
  color: #b59f5b;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.posts {
  margin-bottom: 63px;
}
.post {
  display: flex;
  padding-bottom: 59px;
}

.post-content {
  width: 367px;
  padding-left: 30px;
}

.foto {
  width: 100%;
  background-color: #eff6f1;
  object-fit: cover;
}
.post-tags {
  display: flex;
  list-style-type: none;
}

.link-post-tag {
  margin-right: 18px;

  font-family: "OpenSans-Bold", sans-serif;
  font-size: 87.5%;
  color: #b59f5b;
  text-transform: uppercase;
  text-decoration: none;
}

.link-post-tag:hover {
  color: #b59f5b;
  border-bottom: 2px solid #b59f5b;
}

.link-post-title {
  text-transform: uppercase;
  text-decoration: none;
}

.post-title {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 20px;
  line-height: 1.1;
  color: #0f0d0e;
  margin-top: 15px;
  margin-bottom: 36px;
}

.post-information {
  margin-bottom: 53px;
}

.post-date {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 75%;
  color: #888888;
}

.post-author {
  margin-left: 13px;

  font-family: "OpenSans-Bold", sans-serif;
  font-size: 75%;
  color: #000000;
}

.post-text {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 93.75%;
  color: #0f0d0e;  
}

.list-of-festivals {
  margin-top: 20px;
}

.sidebar {
  width: 272px;
  flex-shrink: 0;
}
.section-news {
  width: 100%;
}

.title-sidebar {
  position: relative;

  font-family: "OpenSans-Bold", sans-serif;
  font-size: 88%;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 38px;
}

.title-sidebar::after {
  content: "";
  
  display: block;
  width: 65px;
  height: 3px;
  margin: 10px auto 0;
  background-color: #e1d9bd;
}

.post-sidebar {
  display: flex;
  margin-top: 22px;
}

.first-sidebar-post {
  margin-top: 28px;
}

.sidebar-foto {
  min-width: 70px;
  max-width: 70px;
  margin-right: 28px;
}

.post-sidebar-information {
  display: flex;
}

.post-sidebar-date {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 75%;
  color: #000000;
  opacity: 0.54;

  margin-bottom: 10px;
}

.sidebar-link-title {
  text-decoration: none;
}

.post-sidebar-title {
  font-family: "OpenSans-Bold", sans-serif;
  line-height: 1;
  font-size: 87.5%;
  color: #000000;

  text-transform: uppercase;
}

.post-sidebar-title:hover {
  color: #b59f5b;
}

.search {
  justify-content: space-between;
  position: relative;
  margin-top: 54px;
}

.search-field,
.button {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.search-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 17px 18px;

  font-family: "OpenSans-Regular", sans-serif;
  font-size: 81.25%;

  border: none;
  background-color: #f4f7f6;
}

.search-input:focus {
  outline: 1px solid #b59f5b;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 49px;
  height: 49px;

  color: #ffffff;
  background-color: #b59f5b;
  border: none;

  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
  cursor: pointer;
}

.section-sidebar {
  margin-top: 62px;
}

.form-field,
.button-mailing, .menu-button-label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.form {
  margin-top: 21px;
}

.form-input {
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  min-height: 49px;

  padding-left: 19px;

  font-family: "OpenSans-Regular", sans-serif;
  font-size: 81.25%;

  border: none;
  background-color: #f4f7f6;
}

.form-input:focus {
  outline: 1px solid #b59f5b;
}

.form-button {
  width: 100%;
  margin-top: 19px;
  border: none;
  cursor: pointer;
}

.button-subscribe {
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;

  font-family: "OpenSans-Bold", sans-serif;
  font-size: 88%;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #b59f5b;
}

.button-subscribe:hover {
  background-color: #323232;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.tag-item {
  border: 3px solid #eeeeee;
  margin: 0 4px 4px 0;
}

.tag-item:hover {
  border: 3px solid #b59f5b;
}

.tag-link {
  text-decoration: none;
  padding: 2px 13px;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 75%;
  color: #0f0d0e;
  text-transform: uppercase;
}

.themes-item {
  list-style: none;
  padding-bottom: 12px;
  border-bottom: 2px solid #eeeeee;
}

.themes-item:nth-child(n + 2) {
  padding-top: 12px;
}

.themes-link {
  text-decoration: none;
  
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 88%;
  color: #000000;

  margin-bottom: 20px;
}

.themes-link:hover {
  color: #b59f5b;
}

.number-themes {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 75%;
  color: #b59f5b;
  vertical-align: super;
  margin-left: 2px;
}

.shop {
  max-width: 1200px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.shop-title {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: center;
}

.shop-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;

  background-color: #e1d9bd;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
}

.product-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image {
  object-fit: cover;
  background-color: #eff6f1;
}

.product-info {
  flex-grow: 1;
  padding: 50px 21px 27px;
  margin-top: -36px;
  border: 2px solid #b59f5b;
}

.product-title-link {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
  text-decoration: none;
}

.product-description {
  margin-top: 3px;
  margin-bottom: 20px;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 15px;
  color: #0f0d0e;
}

.description-link {
  text-decoration: none;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 15px;
  color: #b59f5b;
}

.description-link:hover {
  border-bottom: 2px solid #b59f5b;
}

.purchase {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.old-price {
  display: block;

  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  color: #0f0d0e;
  text-decoration: line-through;
}

.new-price {
  display: block;

  font-family: "OpenSans-Bold", sans-serif;
  font-size: 20px;
  color: #0f0d0e;
}

.shop-product {
  display: flex;
  padding: 19px 28px;

  background-color: #b59f5b;
}

.shop-link {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.footer {
  text-align: center;
}
.articles-socials {
  
  
  margin: auto;
  background-color: #f4f7f6;
}

.socials {
  min-height: 83px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 73px;
  
}

.socials-link {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 27px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.socials-link-twitter {
  background-image: url(../svg/004-twitter.svg);
}

.socials-link-pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.socials-link-facebook {
  background-image: url(../svg/002-facebook-logo.svg);
}

.socials-link-instagram {
  background-image: url(../svg/005-instagram.svg);
}

.socials-link-tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.socials-link-text {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.copyright {
  text-align: center;
  margin-bottom: 40px;
}

.copyright-link {
  text-decoration: none;
  color: #999999;
  font-family: "Open-Sans-Bold", sans-serif;
  font-size: 75%;
}

@media (min-width: 751px) and (max-width: 1250px) {
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
  }
  .logo {
    padding-left: 35px;
    width: 158px;
  }

  .menu-button {
    display: flex;
  }

  .menu-list {
    display: none;
  }
  
  .header-title {
    width: 604px;
    font-size: 40px;
  }
  
  .now-in-trends {
    margin-top: 50px;
  }
  
  .trends-title {
    font-size: 18px;
  }
  
  .trends-posts {
    flex-wrap: wrap;
  }
  
  .trends-post-section {
    width: calc((100% / 2) - 3px);
    min-height: 246px;
  }
  
  .trends-post-section:nth-child(n + 3) {
    margin-top: 3px;
  }
  
  .trends-post-link {
    font-size: 17px;
  }
  
  .content {
    max-width: 767px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 15px;
  }
  
  .posts {
    max-width: 391px;
    margin-left: 35px;
    margin-right: 33px;
  }
  
  .post {
    padding-bottom: 0;
    flex-direction: column;
    border-bottom: 3px solid #eeeeee;
  }
  
  .post:last-child {
    border: none;
  }
  
  .post:nth-child(n + 2) {
    margin-top: 40px;
  }
  
  .foto {
    min-width: 380px;
    max-width: 380px;
    min-height: 294px;
    max-height: 294px;
    margin-bottom: 17px;
  }
  
  .post-content {
    width: 394px;
    padding-left: 0;
  }
  
  .post-title {
    font-size: 17px;
    margin-bottom: 40px;
  }
  
  .post-information {
    margin-bottom: 0px;
  }
  
  .post-text {
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .post-date,
  .post-author {
    font-size: 12px;
  }

  .title-sidebar {
    font-size: 14px;
    margin-bottom: 46px;
  }
  
  .sidebar-foto {
    margin-right: 21px;
  }
  
  .shop {
    max-width: 767px;
    margin-bottom: 50px;
  }

  .shop-title {
    font-size: 18px;
  }
  .products {
    flex-wrap: wrap;
  }
  
  .product-section {
    width: calc(95% / 2);
    margin-bottom: 48px;
  }
  
  .product-section:nth-child(even) {
    margin-left: 5%;
  }
  
  .product-title-link {
    font-size: 17px;
  }
  
  .footer {
  margin-top: 23px;
  padding: 0 34px;
  }
  
  .socials {
    margin-bottom: 51px;
  }
}

@media (max-width: 750px) {
  .header {
    background-image: url(../images/banner-mobile.jpg);
  }
  
  .container {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  
  .logo {
    max-width: 270px;
    width: 100%;
    margin-top: 200px;
  }
  
   .menu-button {
    display: block;
  }
  
  .menu-list {
    display: none;
  }
  
  .menu {
    margin-left: auto;
  }
  
  .header-title {
    max-width: 280px;
    padding-top: 19px;
    padding-bottom: 210px;

    font-size: 26px;
    line-height: 1.4em;
  }
  
  .now-in-trends {
    margin-top: 50px;
  }
  
  .trends-title {
    font-size: 16px;
  }
  
  .trends-posts {
    flex-wrap: wrap;
  }
  
  .trends-post-section {
    min-height: 230px;
    width: 100%;
    margin-bottom: 2px;
  }
  
  .trends-post-info {
    padding: 20px;
  }
  
  .trend-post-title {
    font-size: 16px;
  }
  
  .content {
    flex-direction: column;
    max-width: 330px;
    margin-top: 44px;
    padding: 0 17px;
  }
  
  .posts {
    max-width: 330px;
    margin-right: 0;
    margin-bottom: 35px;
  }
  
.post {
    flex-direction: column;
    border-bottom: 3px solid #eeeeee;
    padding-bottom: 22px;
  }

  .post:nth-child(n+2) {
    margin-top: 35px;
  }
  
  .post-image {
    min-width: 260px;
    max-width: 100%;
    min-height: 200px;
    max-height: 301px;
    margin-right: 0;
    margin-bottom: 8px;
  }
  
  .post-content {
    padding: 0;
    min-width: 260px;
    max-width: 100%;    
  }
  
  .post-title {
    font-size: 16px;
    margin-bottom: 17px;
  }
  
  .post-information {
    margin-bottom: 24px;
  }
  
  .post-text {
    font-size: 14px;
  }
  
  .sidebar {
    width: auto;
    max-width: 460px;
  }
  
  title-sidebar {
    margin-bottom: 28px;
    font-size: 16px;
  }
  
  .post-sidebar-information {
    width: 100%;
  }
  
  .search, .section-sidebar {
    margin-bottom: 44px;
  }
  
   .shop {
    max-width: 330px;
    margin-bottom: 50px;
  }
  
  .shop-title {
    font-size: 16px;
  }
  
  .products {
    flex-direction: column;
  }
  
  .product-section {
    width: 100%;
  }
  
  .product-section:nth-child(n+2) {
    margin-top: 27px;
  }
  
  .product-img {
    width: 285px;
  }
  
  .product-info {
    padding: 54px 20px 26px 18px;
  }
  
  .footer {
    padding: 0 15px;
  }

  
  .socials {
    margin-bottom: 51px;  
  }
  .socials-link-tumblr {
    margin-right: 0;
  }
}
